.screen iframe {
    height: 100%;
    width: 100%;
    border: 0px solid gray;
}

.content {
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    font-weight: 300;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin: 20px 0 5px;
}

h2,
h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    color: #363636;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3 {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    font-weight: 200;
    text-transform: none;
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    bottom: 0;
    display: block;
    border-bottom: 1px solid lightgray;
}

a,
footer a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #b71a1a;
    border-bottom: 2px solid transparent !important;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover,
footer a:hover {
    border-bottom: 2px solid rgba(183, 26, 26, 0.55) !important;
}

.hidden {
    display: none;
}

body.wrapper {
    background: rgb(240, 240, 240);
    background-image: url(../res/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

@media (max-width: 800px) {
    body.wrapper {
        background-size: 120% auto;
    }
    .content {
        padding-top: 90;
    }
    h1 {
        padding-right: 20px;
    }
    #toggleLandscape,
    #toggleTheme,
    #toggleIPad {
        display: none;
    }
    #openDemo {
        display: inline-block !important;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    #iphone5s {
        display: none;
    }
    #forkgithub {
        width: 120px !important;
        height: 120px !important;
    }
}