header {
    @extend .full-width;
    display: table;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 5px;
    font-size: $header-font-size;
    background-color: $header-background-color;
    border-bottom: $default-border;
    color: $default-color;
}

nav {
    @extend .full-width;
    @extend .inline-block-margin-fix;
    &.tabs-top {
        z-index: $stack-nav-bottom;
        border-bottom: $default-border;
        background-color: $nav-background-color;
        .tab {
            cursor: pointer;
            padding: 12px 0;
            text-align: center;
            overflow: hidden;
            display: inline-block;
            opacity: 0.5;
            background: rgba(204, 204, 204, 0.84);
            &.active {
                background: rgba(204, 204, 204, 0.0);
                opacity: 1.0;
            }
        }
    }
    &.tabs-bottom {
        @extend .bottom;
        position: fixed;
        z-index: $stack-nav-bottom;
        border-top: $default-border;
        background-color: $nav-background-color;
        .tab {
            height: $nav-bottom-height;
            display: inline-block;
            padding: 5px 0px 0px;
            cursor: pointer;
            overflow: hidden;
            color: $nav-tab-color;
            text-align: center;
            .tab-name {
                display: block;
                margin-top: -4px;
                font-size: $nav-tab-font-size;
            }
            img {
                opacity: 0.4;
                height: 33px;
                width: auto;
                margin-top: -2px;
            }
            &.active {
                color: $nav-tab-active-color;
            }
            &.active img {
                opacity: 1
            }
        }
    }
}