/* DEFAULT */
$default-color: rgb(102, 102, 102);
$default-font: "Open Sans", "Lato", sans-serif;
$default-font-size: 14px;
$default-text-padding: 10px;

/* DEFAULT BORDER */
$default-border-color: rgba(177, 177, 177, 0.8);
$default-border-style: solid;
$default-border-width: 1px;
$default-border: $default-border-width $default-border-style $default-border-color;

$button-background-color: rgba(103, 144, 180, 0.95);
$button-confirm-background-color: rgba(99, 177, 159, 0.95);
$button-decline-background-color: rgba(211, 126, 126, 0.95);
$button-border-color: rgba(52, 52, 52, 0.25);
$button-color: white;
$button-border-radius: 8px;
$button-rounded-border-radius: 50px;
$button-squared-border-radius: 0;
$button-small-font-size: 10px;

/* Header */
$header-background-color: rgba(255, 255, 255, 0.85);
$header-font-size: 15px;

$nav-background-color: rgba(255, 255, 255, 0.95);
$nav-tab-color: rgba(150, 150, 150, 1);
$nav-tab-border-color: rgba(177, 177, 177, 0.5);
$nav-tab-top-background-color: rgba(204, 204, 204, 0.85);
$nav-tab-top-active-background-color: rgba(204, 204, 204, 0);
$nav-tab-font-size: 9px;
$nav-tab-active-color: rgb(26, 26, 26);
$nav-notification-font-size: 9px;
$nav-notification-border-color: rgb(51, 75, 139);
$nav-notification-background-color: rgb(44, 67, 128);

@import "default/stackorder";
@import "default/misc";
@import "default/mixins";
@import "default/ios";
@import "default/layout";
@import "default/elements";

html, body {
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    font-family: $default-font;
    font-size: $default-font-size;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header,
#ios-statusbar,
nav,
.tab,
.tabs-top,
.tabs-bottom,
input,
div {
    box-sizing: border-box;
}
