input[type="search"] {
    @include box-sizing(border-box);
    font-size: 14px;
    text-indent: 20px;
    @include transition(all 150ms linear);
    &.slide-icon {
        text-align: center;
        font-weight: 400;
        &:focus {
            text-align: left;
            padding-left: $input-padding;
        }
    }
}

input[type="search"]::-webkit-input-placeholder::before {
    content: '\f4a5 ';
    font-family: 'Ionicons';
    top: 2px;
    /* adjust icon position */
    left: 0;
    width: 0px;
    padding: 0 4px;
    /* size of a single icon */
    height: 14px;
    font-size: 14px;
}
