input[type="search"] {
    font-size: 14px;
    padding-left: 35px;
    background-size: auto 50%;
    background-position: 8px center;
    background-repeat: no-repeat;
    @include transition(all 150ms linear);
    &.slide-icon {
        padding-left: 10px;
        padding-right: 35px;
        background-position: 50% center;
        color: rgba(0, 0, 0, 0.2);
        &:focus {
            background-position: 8px center;
            color: $default-color;
            padding-left: 35px;
            padding-right: 10px;
        }
    }
}