ul,
ol,
dl {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.95);
    &.bordered {
        border-top: $default-border;
        border-bottom: $default-border;
        li, dd {
            border-bottom: $default-border;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    li,
    dt,
    dd {
        padding: 12px 10px;
        &.selected {
            background-color: rgb(255, 255, 255);
        }
    }
    ul {
        &.group {
            background: transparent;
            .group-name {
                @extend .width-full;
                background-color: rgb(219, 219, 219);
                color: $default-color;
                padding: 6px 10px 7px;
                border-bottom: $default-border;
            }
        }
    }
}

ul {
    li {
        @extend .width-full;
        list-style-type: none;
    }
    &.floating {
        @extend .vbox;
        li {
            display: inline-block;
            vertical-align: top;
            &:last-child {
                border-bottom: $default-border;
            }
        }
        &.bordered {
            li {
                border-right: $default-border;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

ol {
    padding-left: 28px;
}

dl {
    dt {
        padding-bottom: 0px;
    }
    dd {
        padding-left: 30px;
        padding-top: 0px;
    }
}
