* {
    font-size: $default-font-size;
    font-family: $default-font;
    color: $primary-color;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    @include box-sizing(border-box);
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background: $background-color;
}

input {
    color: $input-color;
}
