.toolbar {
    @extend .width-100;
    font-size: $default-font-size;
    padding: 7px 5px 8px 5px;
    display: table;
    background-color: $nav-background-color;
    &.bordered {
        border-top: $default-border;
        border-bottom: $default-border;
    }
    .area-left {
        float: left;
    }
    .area-right {
        float: right;
        clear: right;
    }
    &.scroll-horizontal {
        display: block;
        @extend .scroll-horizontal;
        .area-left, .area-right {
            float: none;
        }
    }
    .area-left,
    .area-right {
        @extend .hbox;
    }
}