button {
    color: $button-color;
    padding: 12px;
    margin: 4px;
    outline: none;
    border: $default-border-width $default-border-style $button-border-color;
    background-color: $button-background-color;
    @include border-radius($button-border-radius);
    &.link {
        background-color: transparent;
        padding: 0;
        border: 0;
        padding: 0 4px;
        color: $button-background-color;
    }
    &.small {
        font-size: $button-small-font-size;
        padding: 8px;
    }
    &.confirm {
        background-color: $button-confirm-background-color;
    }
    &.decline {
        background-color: $button-decline-background-color;
    }
    &.full-width {
        margin: 0;
        border-width: 1px 0px 1px 0px;
    }
    &.full-width,
    &.squared {
        @include border-radius($button-squared-border-radius);
    }
    &.rounded {
        @include border-radius($button-rounded-border-radius);
    }
    &.inverted {
        background-color: transparent;
        border-color: $button-background-color;
        color: $button-background-color;
        &.confirm {
            border-color: $button-confirm-background-color;
            color: $button-confirm-background-color;
        }
        &.decline {
            border-color: $button-decline-background-color;
            color: $button-decline-background-color;
        }
        &.thick-border {
            border-width: 2px;
        }
        &.white {
            border-color: white;
            color: white;
        }
    }
}