header {
    @extend .width-full;
    display: table;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 6px;
    font-size: $header-font-size;
    background-color: $header-background-color;
    border-bottom: $default-border;
    color: $default-color;
    vertical-align: 2px;
    .header-buttons-left {
        @extend .left;
        margin-left: 3px;
    }
    .header-buttons-right {
        @extend .right;
        margin-right: 3px;
    }
    .header-buttons-left,
    .header-buttons-right {
        position: absolute;
        button, input[type="submit"], a {
            @extend button.clear;
            font-size: $header-font-size;
            margin: 0 3px;
        }
    }
}
