ul,
ol,
dl {
    margin: 0;
    padding: 0;
    background: $header-background-color;
    &.bordered {
        li, dd {
            border-bottom: $default-border;
        }
    }
    li,
    dt,
    dd {
        padding: 12px 10px;
        &.selected {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    ul {
        &.group {
            background: transparent;
            .group-name {
                @extend .full-width;
                background-color: rgb(177, 177, 177);
                color: white;
                padding: 4px 5px 5px;
                border-bottom: $default-border;
            }
        }
    }
}

ul {
    li {
        @extend .full-width;
        list-style-type: none;
    }
    &.floating {
        @extend .vbox;
        li {
            display: inline-block;
            vertical-align: top;
        }
        &.bordered {
            li {
                border-right: $default-border;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

ol {
    padding-left: 28px;
}

dl {
    dt {
        padding-bottom: 0px;
    }
    dd {
        padding-left: 30px;
        padding-top: 0px;
    }
}