q {
    color: #cecece;
    quotes: inherit;
}

code {
    background-color: #fafafa;
    padding: 2px 4px;
    border: $default-border;
    @include border-radius(4px);
}

pre {
    code {
        @extend .width-full;
        box-sizing: border-box;
    }
}

blockquote {
    margin-left: 10px;
    padding-left: 5px;
    border-left: $default-border;
    @extend q;
}