.notification {
    width: auto;
    max-width: $tabs-bottom-notification-max-width;
    display: block;
    height: 0;
    margin: 0 auto;
    text-align: $tabs-bottom-notification-align;
    .notification-text {
        color: $tabs-bottom-notification-color;
        padding: $tabs-bottom-notification-padding;
        overflow: hidden;
        margin: 0 2px;
        position: relative;
        z-index: 11;
        background-color: $tabs-bottom-notification-background-color;
        font-size: $tabs-bottom-notification-font-size;
        @include border-radius($tabs-bottom-notification-border-radius);
    }
}

.tabs-striped {
    background-color: $tabs-striped-background-color;
    .tab {
        padding: $tabs-striped-tab-padding 0;
        text-align: center;
        border-bottom: $tabs-striped-tab-border-bottom;
        overflow: hidden;
        background: $tabs-striped-tab-background-color;
        &.active {
            color: $tabs-striped-tab-active-color;
            padding-bottom: $tabs-striped-tab-padding - $tabs-striped-tab-active-border-width + 1;
            border-bottom: $tabs-striped-tab-active-border-bottom;
            background: $tabs-striped-tab-active-background-color;
        }
    }
}

.tabs-bottom {
    left: 0;
    right: 0;
    z-index: 10;
    border-top: $tabs-bottom-border;
    background-color: $tabs-bottom-background-color;
        @include flexbox;
    .tab {
        padding: $tabs-bottom-tab-padding;
        overflow: hidden;
        color: $tabs-bottom-tab-color;
        text-align: center;
        font-size: 0;
        @include flex(1);
        .notification {
            @extend .notification;
        }
        .tab-name {
            display: block;
            font-size: $tabs-bottom-tab-font-size;
        }
        img.tab-icon {
            @include opacity(0.4);
        }
        .tab-icon {
            height: $tabs-bottom-tab-icon-size;
            font-size: $tabs-bottom-tab-icon-size;
            line-height: $tabs-bottom-tab-icon-size;
            width: auto;
            padding: $tabs-bottom-tab-icon-padding;
            margin-top: -1 * $tabs-bottom-tab-icon-padding;
            color: $tabs-bottom-tab-color;
        }
        &.active {
            .tab-name {
                color: $tabs-bottom-tab-active-color;
            }
            .tab-icon {
                color: $tabs-bottom-tab-active-color;
            }
        }
        &.active img.tab-icon {
            @include opacity(1);
        }
    }
    &.icon-only {
        .tab {
            padding: $tabs-bottom-tab-icon-only-padding;
        }
    }
}

.tabs-segmented {
    border-bottom: $tabs-segmented-border-bottom;
    background-color: $tabs-segmented-background-color;
    @extend .center;
    padding: $tabs-segmented-padding;
    .tab {
        font-size: $tabs-segmented-tab-font-size;
        padding: $tabs-segmented-tab-padding;
        min-width: $tabs-segmented-tab-min-width;
        text-align: center;
        overflow: hidden;
        background-color: transparent;
        border: $border;
        border-width: $tabs-segmented-tab-border-width 0 $tabs-segmented-tab-border-width 0;
        border-color: $tabs-segmented-tab-border-color;
        color: $tabs-segmented-tab-color;
        .notification {
            @extend .notification;
            max-width: none;
            display: inline-block;
            text-align: right;
            .notification-text {
                color: $tabs-segmented-notification-color;
                padding: $tabs-segmented-notification-padding;
                margin: 0 2px;
                background-color: $tabs-segmented-notification-background-color;
                font-size: $tabs-segmented-notification-font-size;
                @include border-radius($tabs-segmented-notification-border-radius);
            }
        }
        &.active {
            background-color: $tabs-segmented-tab-active-background-color;
            color: $tabs-segmented-tab-active-color;
            .notification-text {
                color: $tabs-segmented-notification-active-color;
                background-color: $tabs-segmented-notification-active-background-color;
            }
        }
        &:first-child {
            @include border-radius($tabs-segmented-tab-border-radius 0px 0px $tabs-segmented-tab-border-radius);
            border-left-width: $tabs-segmented-tab-border-width;
        }
        &:last-child {
            @include border-radius(0px $tabs-segmented-tab-border-radius $tabs-segmented-tab-border-radius 0px);
            border-right-width: $tabs-segmented-tab-border-width;
        }
    }
    &.bordered {
        .tab {
            border-right-width: $tabs-segmented-tab-border-width;
            &:last-child {
                border-right-width: $tabs-segmented-tab-border-width;
            }
        }
    }
}

.tabs-striped,
.tabs-bottom {
    &.bordered {
        .tab {
            border-right: $border;
            &:last-child {
                border-right: none;
            }
        }
    }
}
