.ion {
    margin: 0 3px;
    color: inherit;
    font-size: 29px;
    font-weight: 700;
}

header {
    text-transform: none;
    border: none;
    font-weight: 500;
    button {
        padding-top: 0px;
        font-weight: 300;
        line-height: 28px;
    }
    .area-left {
        @extend .hbox;
        margin-top: -4px;
        button:first-child {
            margin-left: 0;
            padding-left: 0;
        }
        .ion {
            float: left;
        }
    }
    .area-right {
        @extend .hbox;
        margin-top: -4px;
        button:last-child {
            margin-right: 0;
            padding-right: 0;
        }
        .ion {
            float: right;
        }
    }
}

.input-box {
    label {
        padding: 3px 0 8px;
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    input {
        border: none;
    }
}

input[type="search"] {
    font-weight: 200;
    @extend input[type="search"].slide-icon;
}

.notification {
    font-weight: 200;
}

.tabs-bottom {
    .tab-icon {
        margin-bottom: 5px;
    }
}

.tabs-segmented {
    .tab {
        font-weight: 300;
    }
}

ul {
    li {
        margin-left: 15px;
        padding-right: 30px;
        .area-right {
            color: $border-color;
        }
        .ion {
            font-size: 20px;
        }
    }
    &.bordered {
        border-top: none;
    }
    &.group {
        .group-name {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

hr {
    @include transform(scaleY(0.5));
    margin: 0;
    height: 1px;
    border: 0;
    padding: 0;
    background-color: rgba($border-color, 0.5);
}
