button {
    color: $button-color;
    padding: $button-padding;
    margin: $button-margin;
    border: $border-width $border-style $button-border-color;
    background-color: $button-background-color;
    display: inline-block;
    @include border-radius($button-border-radius);
    &.clear {
        background-color: transparent;
        padding: 0;
        border: 0;
        padding: 0 $button-margin;
        color: $button-background-color;
    }
    &.small {
        font-size: $button-small-font-size;
        padding: $button-small-padding;
    }
    &.large {
        font-size: $button-large-font-size;
        padding: $button-padding;
    }
    &.confirm {
        background-color: $button-confirm-background-color;
    }
    &.decline {
        background-color: $button-decline-background-color;
    }
    &.width-full {
        margin: 0;
        @extend .border-width-full;
    }
    &.width-full,
    &.squared {
        @include border-radius($button-squared-border-radius);
    }
    &.rounded {
        @include border-radius($button-rounded-border-radius);
    }
    &.outlined {
        background-color: transparent;
        border-color: $button-background-color;
        color: $button-background-color;
        &.confirm {
            border-color: $button-confirm-background-color;
            color: $button-confirm-background-color;
        }
        &.decline {
            border-color: $button-decline-background-color;
            color: $button-decline-background-color;
        }
        &.thick-border {
            border-width: $border-thick-width;
            &.width-full {
                border-width: $border-thick-width 0;
            }
        }
        &.white {
            border-color: #ffffff;
            color: #ffffff;
        }
    }
}
