code {
    background-color: $code-background-color;
    padding: $code-padding;
    display: inline-block;
    border: $border;
    @include border-radius($code-border-radius);
}
pre {
    code {
        @extend %width-full;
    }
}
