.slider-thumb {
    box-shadow: 0px 1px 1px gray;
    background: #108A93;
    height: 24px;
    width: 24px;
    margin-top: -11px;
    background: #f0f0f0;
    @include border-radius(15px);
}

.slider-track {
    height: 4px;
    @include border-radius(4px);
    background: #bababa;
}

input {
    -webkit-border-radius: 0;
    border: none;
    &[type="submit"] {
        @extend button;
    }
    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="search"],
    &[type="number"] {
        padding: 10px 8px;
        font-size: 14px;
        border: $default-border;
        @include border-radius(5px);
    }
    &.width-full {
        @extend .border-width-full;
        @include border-radius(0px);
    }
    &[type="radio"],
    &[type="checkbox"] {
        vertical-align: -1px;
        margin-right: 5px;
    }
}