ul,
ol,
dl {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.95);
    &.bordered {
        border-top: $border;
        border-bottom: $border;
        li, dd {
            border-bottom: $border;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    li,
    dt,
    dd {
        padding: 12px 10px;
        &.selected {
            background-color: rgb(255, 255, 255);
        }
    }
    &.group {
        background: transparent;
        .group-name {
            @extend %width-full;
            background-color: rgb(219, 219, 219);
            color: $default-color;
            padding: 6px 10px 7px;
            font-weight: 700;
            border-bottom: $border;
        }
    }
}

ul {
    li {
        @extend .width-100;
        list-style-type: none;
    }
    &.floating {
        @extend .vbox;
        li {
            display: inline-block;
            vertical-align: top;
            &:last-child {
                border-bottom: $border;
            }
        }
        &.bordered {
            border: none;
            li {
                border-right: $border;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

ol {
    padding-left: 28px;
}

dl {
    dt {
        padding-bottom: 0px;
    }
    dd {
        padding-left: 30px;
        padding-top: 0px;
    }
}
