ul,
ol,
dl {
    margin: 0;
    padding: 0;
    background: $list-background-color;
    &.bordered {
        border-top: $border;
        border-bottom: $border;
        li,
        dd {
            border-bottom: $border;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    li,
    dt,
    dd {
        padding: $list-item-padding;
        &.selected {
            background-color: $list-item-selected-background-color;
        }
    }
    &.group {
        background: transparent;
        .group-name {
            @extend %width-full;
            background-color: $list-group-background-color;
            color: $list-group-color;
            padding: $list-group-padding;
            font-weight: $list-group-font-weight;
            border-bottom: $list-group-border;
        }
    }
}
ul {
    li {
        @extend .width-100;
        list-style-type: none;
    }
    &.floating {
        @extend .vbox;
        li {
            display: inline-block;
            vertical-align: top;
            &:last-child {
                border-bottom: $border;
            }
        }
        &.bordered {
            border: none;
            li {
                border-right: $border;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
ol {
    padding-left: $list-ordered-padding-left;
}
dl {
    dt {
        padding-bottom: 0;
    }
    dd {
        padding-left: $list-definition-padding-left;
        padding-top: 0;
    }
}
