q {
    color: #cecece;
    quotes: inherit;
}
blockquote {
    margin-left: 10px;
    padding-left: 5px;
    border-left: $border;
    @extend q;
    .author {
        display: block;
        &:before {
            content: '- ';
        }
    }
}
