select {
    padding:  $select-padding;
    font-size: $select-font-size;
    min-width: $select-min-width;
    border: $border;
    @include border-radius($select-border-radius);
    &.width-full {
        @extend input.width-full;
    }
    option,
    optgroup {
        font-size: $select-option-font-size;
    }
}
