textarea {
    padding: 10px 8px;
    font-size: 14px;
    border: $border;
    @include border-radius(5px);
    &:focus {
        outline: none;
    }
    &.width-full {
        border-width: 1px 0px 1px 0px;
        @include border-radius(0px);
    }
}
