header {
    @extend .width-full;
    @extend .center;
    text-transform: uppercase;
    padding: 12px 6px;
    font-size: $header-font-size;
    background-color: $header-background-color;
    border-bottom: $default-border;
    color: $default-color;
    vertical-align: 2px;
    button, input[type="submit"], a {
        @extend button.clear;
        font-size: $header-font-size;
        margin: 0 3px;
        padding: 0;
    }
}
