progress {
    height: $progress-height;
    &.width-full {
        &::-webkit-progress-bar {
            @include border-radius(0);
            border-width: $progress-border-width 0 $progress-border-width 0;
        }
        &::-webkit-progress-value {
            @include border-radius(0);
        }
    }
    &::-webkit-progress-bar {
        background-color: $progress-background-color;
        @include border-radius($progress-border-radius);
        border: $border;
    }
    &::-webkit-progress-value {
        background-color: $progress-value-background-color;
        @include border-radius($progress-border-width 0 0 $progress-border-width);
    }
}
