table {
    max-width: 100%;
    background: $table-background-color;
    td,
    th {
        text-align: left;
        padding: $table-cell-padding;
    }
    tr {
        border-bottom: $border;
        &:last-child {
            border-bottom: none;
        }
    }
    &.width-full {
        display: table;
    }
    &.bordered {
        td,
        th {
            border: $border;
        }
        tr {
            border: none;
        }
        &.width-full {
            td:first-child,
            th:first-child {
                border-left: none;
            }
            td:last-child,
            th:last-child {
                border-right: none;
            }
        }
    }
    &.striped {
        tr:nth-child(odd) > td {
            background-color: $table-striped-background-color;
        }
    }
}
