nav {
    @extend .full-width;
    @extend .hbox;
    &.tabs-top {
        border-bottom: $default-border;
        background-color: $nav-background-color;
        .tab {
            padding: 12px 0;
            text-align: center;
            overflow: hidden;
            @include opacity(0.5);
            background: $nav-tab-top-background-color;
            &.active {
                background: $nav-tab-top-active-background-color;
                @include opacity(1);
            }
        }
    }
    &.tabs-bottom {
        @extend .bottom;
        @extend .fixed;
        z-index: $stack-nav-bottom;
        border-top: $default-border;
        background-color: $nav-background-color;
        .tab {
            height: $nav-bottom-height;
            padding: 5px 0px 0px;
            overflow: hidden;
            color: $nav-tab-color;
            text-align: center;
            .tab-name {
                display: block;
                margin-top: -4px;
                font-size: $nav-tab-font-size;
            }
            img {
                @include opacity(0.4);
                height: 33px;
                width: auto;
                margin-top: -2px;
            }
            &.active {
                color: $nav-tab-active-color;
            }
            &.active img {
                @include opacity(1);
            }
        }
    }
}
