%scroll-horizontal {
    overflow-x: auto;
    white-space: nowrap;
    div, span, nav {
        display: inline-block;
        vertical-align: top;
    }
}

%scroll-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}

%no-scroll {
    overflow: hidden;
}

%no-scrollbar::-webkit-scrollbar {
    display: none;
}