@import 'default/header';
@import 'default/input';
@import 'default/button';
@import 'default/p';
@import 'default/nav';
@import 'default/body';
@import 'default/html';
@import 'default/hr';
@import 'default/list';
@import 'default/scrollbar';

.input-container {
    @extend .width-full;
    padding: 5px 8px;
    background-color: $header-background-color;
    border-bottom: $default-border;
    input {
        @extend .width-full;
        &.text, &[type="text"] {
            border: 1px solid #9b9b9b;
            @include border-radius(10px);
        }
        &.search,
        &[type="search"] {
            @include border-radius(50px);
            border: 1px solid #9b9b9b;
        }
    }
}

.button-group {
    button {
        margin: 0 !important;
        &.width-full {
            border-width: 0px 0px 1px 0px !important;
        }
    }
    button:first-child {
        &.width-full {
            border-width: 1px 0px 1px 0px !important
        }
    }
    &.width-full {
        button {
            @extend .width-full;
            border-width: 0px 0px 1px 0px !important;
        }
        button:first-child {
            border-width: 1px 0px 1px 0px !important
        }
    }
}