.form {
    &-inline,
    &-stacked {
        @extend %width-full;
        @extend %inline-block-margin-fix;
        input {
            background-color: transparent;
            border: none;
            margin: 0;
            color: $form-input-color;
            @include border-radius(0);
        }
        label {
            display: inline-block;
            color: $form-label-color;
        }
        input,
        label {
            padding: $form-input-padding;
        }
    }
    &-inline {
        input {
            width: $form-inline-input-width;
        }
        label {
            width: $form-inline-label-width;
        }
        input,
        label {
            border-bottom: $form-inline-border-bottom;
        }
    }
    &-stacked {
        label,
        input {
            display: block;
            width: 100%;
        }
        input {
            border-bottom: $form-stacked-border-bottom;
        }
    }
}
