form {
    &.inline,
    &.stacked {
        @extend %width-full;
        @extend %inline-block-margin-fix;
        input {
            background-color: transparent;
            border: none;
            margin: 0;
            color: $form-input-color;
            font-size: $input-font-size;
            @include border-radius(0);
            padding: $form-input-padding;
        }
        label {
            display: inline-block;
            color: $form-label-color;
            padding-left: $form-input-padding;
            color: $secondary-color;
        }
    }
    &.inline {
        input {
            width: $form-inline-input-width;
        }
        label {
            width: $form-inline-label-width;
            padding: $form-input-padding;
        }
        input,
        label {
            border-bottom: $form-inline-border-bottom;
        }
    }
    &.stacked {
        label,
        input {
            display: block;
            width: 100%;
        }
        label {
            + input {
                border-bottom: $form-stacked-border-bottom;
                padding-top: $form-input-padding / 2;
            }
        }
        input {
            + label {
                border-bottom: $form-stacked-border-bottom;
            }
        }
    }
}
