.form {
    &-inline,
    &-stacked {
        @extend %width-full;
        @extend %inline-block-margin-fix;
        input {
            background-color: transparent;
            border: none;
            margin: 0;
            @include border-radius(0);
        }
        label {
            display: inline-block;
        }
        input,
        label {
            padding: $default-text-padding;
        }
    }
    &-inline {
        input {
            width: 70%;
        }
        label {
            width: 30%;
        }
        input,
        label {
            border-bottom: $border;
        }
    }
    &-stacked {
        label,
        input {
            display: block;
            width: 100%;
        }
        input {
            border-bottom: $border;
        }
    }
}
