.input-box {
    @extend %width-full;
    background-color: $input-box-background-color;
    @include box-sizing(border-box);
    padding: $input-box-padding;
    input {
        width: 100%;
    }
    &.bordered {
        @extend .border-width-full;
    }
    input[type="search"] {
        @include border-radius($input-box-input-border-radius);
        font-size: $input-box-input-font-size;
        padding: $input-box-input-padding;
        padding-left: $input-search-padding-left;
    }
}
