.detail-list {
    li {
        padding: 10px;
        font-size: 17px;
        line-height: 20px;
    }
    .list-image-left {
        display: inline-block;
        vertical-align: top;
        height: 39px;
        float: left;
        margin-right: 7px;
        @include border-radius(3px)
    }
    .list-detail{
        color: gray;
        padding: 0;
        @extend %ellipsis;
    }
}