.key-value-label {
    text-align: $key-value-label-value-align;
    .value {
        font-size: $key-value-label-value-font-size;
        line-height: $key-value-label-value-line-height;
    }
    .key {
        font-size: $key-value-label-label-font-size;
        color: $key-value-label-label-color;
    }
    .value, .key {
        display: block;
    }
}
