.popup {
    @extend .center;
    @extend .fit;
    @extend %top;
    background-color: $popup-background-color;
    padding: $popup-padding;
    z-index: 100;
    position: fixed;
    .message {
        padding: $popup-message-padding;
        border: $popup-message-border;
        background-color: $popup-message-background-color;
        display: inline-block;
        @extend %width-100;
        &.rounded {
            @include border-radius($popup-message-border-radius);
        }
        &.circle {
            @extend %round;
        }
        &.fullscreen {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
