.tabs-striped {
    background-color: $nav-background-color;
    .tab {
        padding: 12px 0;
        text-align: center;
        border-bottom: $border;
        overflow: hidden;
        background: $nav-tab-top-background-color;
        &.active {
            color: $button-confirm-background-color;
            padding-bottom: 9px;
            border-bottom: 4px solid $button-confirm-background-color;
        }
    }
}
.tabs-bottom {
    @extend .bottom;
    @extend .fixed;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: $border;
    background-color: $nav-background-color;
    .tab {
        padding: 3px 0 1px;
        overflow: hidden;
        color: $nav-tab-color;
        text-align: center;
        font-size: 0;
        .notification {
            width: auto;
            max-width: 60px;
            display: block;
            height: 0;
            margin: 0 auto;
            border-right: $border;
            text-align: right;
            .notification-text {
                color: white;
                padding: 1px 6px;
                overflow: hidden;
                margin: 0 2px;
                position: relative;
                z-index: 11;
                background-color: $nav-notification-background-color;
                font-size: $nav-notification-font-size;
                @include border-radius(50px);
            }
        }
        .tab-name {
            display: block;
            font-size: $nav-tab-font-size;
        }
        img {
            @include opacity(0.4);
            height: 35px;
            width: auto;
            padding: 2px;
            margin-top: -2px;
        }
        i {
            font-size: 35px;
            line-height: 35px;
            width: auto;
            padding: 2px;
            margin-top: -2px;
        }
        &.active {
            color: $nav-tab-active-color;
        }
        &.active img {
            @include opacity(1);
        }
    }
    &.icon-only {
        .tab {
            padding: 6px 0 2px;
        }
    }
}
.tabs-segmented {
    border-bottom: $border;
    background-color: $nav-background-color;
    @extend .center;
    padding: 7px;
    .tab {
        font-size: 13px;
        padding: 6px 8px;
        min-width: 50px;
        text-align: center;
        overflow: hidden;
        background-color: transparent;
        border: $border;
        border-width: 1px 0 1px 0;
        border-color: $nav-tab-color;
        color: $nav-tab-color;
        .notification {
            width: auto;
            display: inline-block;
            height: 0;
            margin: 0 auto;
            border-right: $border;
            text-align: right;
            .notification-text {
                color: $nav-background-color;
                padding: 1px 6px;
                overflow: hidden;
                margin: 0 1px;
                position: relative;
                z-index: 11;
                background-color: $nav-tab-color;
                font-size: $nav-notification-font-size;
                @include border-radius(50px);
            }
        }
        &.active {
            background-color: $nav-tab-color;
            color: white;
        }
        &:first-child {
            @include border-radius(5px 0px 0px 5px);
            border-left-width: 1px;
        }
        &:last-child {
            @include border-radius(0px 5px 5px 0px);
            border-right-width: 1px;
        }
    }
    &.bordered {
        .tab {
            border-right-width: 1px;
            &:last-child {
                border-right-width: 1px;
            }
        }
    }
}
.tabs-striped,
.tabs-bottom {
    &.bordered {
        .tab {
            border-right: $border-width $border-style $nav-tab-border-color;
            &:last-child {
                border-right: none;
            }
        }
    }
}
