.tab-view {
    .tab-view-pages {
        width: $tab-view-tabs-default-tab-count * 100%;
        display: block;
        position: relative;
        overflow: hidden;
        @extend %inline-block-margin-fix;
        .tab-view-view {
            width: 100% / $tab-view-tabs-default-tab-count;
            vertical-align: top;
            position: relative;
            display: inline-block;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .tabs-bottom {
        @extend %bottom;
        @extend %fixed;
    }
}
