.toolbar {
    @extend %width-100;
    font-size: $default-font-size;
    padding: $toolbar-padding;
    display: table;
    background-color: $toolbar-background-color;
    &.bordered {
        border-top: $border;
        border-bottom: $border;
    }
    &.scroll-horizontal {
        display: block;
        @extend %scroll-horizontal;
        .area-left,
        .area-right {
            float: none;
        }
    }
    button,
    input[type="submit"],
    input[type="text"],
    input[type="search"],
    input[type="number"],
    a {
        padding: $toolbar-input-padding;
        font-size: $header-font-size;
        margin: 0 3px;
    }
    input[type="range"] {
        padding-top: 14px;
    }
    input[type="search"] {
        padding: 7px 8px 7px 30px;
    }
    input[type="checkbox"] + label {
        top: -9px;
        margin: 0 5px -8px 3px;
    }
    button {
        &.thick-border {
            padding: 7px 8px;
        }
    }
    .tabs-segmented {
        padding: 3px 2px 2px;
        background-color: transparent;
        border: none;
        vertical-align: top;
        display: inline-block;
    }
    div,
    span,
    button,
    input,
    a,
    nav {
        display: inline-block;
    }
}
