.translucent-background {
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-position: inherit;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-size: inherit;
        background-repeat: inherit;
        background-attachment: inherit;
        background-position: inherit;
        -webkit-filter: blur($translucent-background-blur) saturate($translucent-background-saturate);
    }
}
