@mixin button($name, $color) {
    &.#{$name} {
        background-color: $color;
    }
}

@mixin button-outlined($name, $color) {
    &.#{$name} {
        color: $color;
        border-color: $color;
    }
}

button {
    color: $button-color;
    padding: $button-padding;
    margin: $button-margin;
    border: $button-border-width $button-border-style $button-border-color;
    background-color: $button-background-color;
    display: inline-block;
    @include border-radius($button-border-radius);
    &.small {
        font-size: $button-small-font-size;
        padding: $button-small-padding;
    }
    &.large {
        font-size: $button-large-font-size;
        padding: $button-padding;
    }
    &.clear {
        background-color: transparent;
        border: 0;
        padding: 0 $button-margin;
        color: $button-background-color;
    }
    @each $key, $value in $button-background-colors {
        @include button($key, $value);
    }
    &.width-full {
        margin: 0;
        @extend .border-width-full;
    }
    &.width-full,
    &.squared {
        @include border-radius($button-squared-border-radius);
    }
    &.rounded {
        @include border-radius($button-rounded-border-radius);
    }
    &.outlined {
        background-color: transparent;
        border-color: $button-background-color;
        color: $button-background-color;
        @each $key, $value in $button-background-colors {
            @include button-outlined($key, $value);
        }
        &.thick-border {
            border-width: $border-thick-width;
            &.width-full {
                border-width: $border-thick-width 0;
            }
        }
        &.white {
            border-color: #fff;
            color: #fff;
        }
    }
}
