q {
    color: $quote-color;
    quotes: inherit;
}

blockquote {
    margin-left: $blockquote-margin-left;
    padding-left: $blockquote-padding-left;
    border-left: $blockquote-border-left;
    @extend q;
    .author {
        display: block;
        &:before {
            content: '- ';
        }
    }
}