textarea {
    padding: $textarea-padding;
    font-size: $textarea-font-size;
    border: $textarea-border;
    @include border-radius($textarea-border-radius);
    &:focus {
        outline: none;
    }
    &.width-full {
        border-width: $textarea-border-width 0 $textarea-border-width 0;
        @include border-radius(0);
    }
}
