html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('resource/background.jpg') !important;
    background-size: 100% 100% !important;
    background-attachment: fixed;
    background-color: #898989;
}