html,
body {
    background: #919191;
    margin: 0;
    padding: 0;
}

#wrapper {
    padding: 20px 0;
}

.screen {
    text-align: left !important;
    color: black !important;
    border: 0;
    margin-left: -1px;
    background: transparent !important;
}